div.edituserinfo {
    font-size: 4vmin;
    text-align: center;
    margin-top: 13vmin;
}

div.rowedit {
    padding: 0;
    text-align: center;
}

input[type='text'].edit-control, input[type='password'].edit-control, input[type='email'].edit-control {
    width: 50%;
    margin-top: 5vmin;
    margin-left: 3%;
    padding: 3vmin;
    font-size: 3vmin;
}

div.error-edit-message {
    width: 50%;
    text-align: center;
    display: inline-block;
    margin-left: 0;
}

i.edit-i {
    font-size: 4vmin;
    color: #9FB444;
} 

div#edit2 {
    text-align: center;
}

button.save-edit , button.unsave-edit{
    margin: 10% 5%;
    background-color: #B9D253;
    color: #242424;
    border: none;
    width: 16vmin;
    font-size: 3vmin;
    border-radius: 5em;
    cursor: pointer;
    padding: 0.5%;
}

button.unsave-edit {
    background-color: white;
    border:0.3vmin solid #9FB444;
}

button.save-edit:hover , button.unsave-edit:hover {
    background-color: #9FB444;
}

@media(max-width: 768px) {
    div.edituserinfo {
        margin-top: 15vmin;
    }
}