
.carousel-indicators{
    height: 6px;
    width:6px;
    margin: center;
    background-color: #bbb;
    border-radius: 50%;

}


h3{
    color: black;
    transform: translate(+30%, -40%);
}

p.mareview{
    color:black;
    font-size: 13px;
    inline-size: auto;
    transform: translate(+40%, -60%);
}

button.dark{
    background-color: #272525;
    border-color: #272525;
    color: #B9D253;
    border-radius: 30px;
    width: 70%;
    font-size: 120%;
    transform: translate(+2%, +100%);
    margin: auto;
    
}

#icona{
    color: #B9D253;
    margin: 3% 3%;
    font-size: 20px;
    
}

div.re{
    
    margin: 0% 4%;
    text-align: left;
    font-size: 2rem;
    
    
}
center.add{
    padding: 5px;
}

button.btn{
    font-size: 10px;
 }


@media(min-width: 768px) {
    
    
       div.item{
            
            height: 400px;
       }  
    
       button.dark{
        width: 23%;
        font-size: 200%;
        transform: translate(+150%, -100%);
        
        
        
    }

    p.mareview{
        color:black;
        font-size: 40px;
        inline-size: auto;
        transform: translate(+30%, -160%);
    }
    h3.mareview{

        font-size: 40px;
        transform: translate(+35%, -260%);
    }

    div.re{
    
        margin: 0% 10%;
        text-align: left;
        font-size: 3rem;
    
    }
    
    #icona{
        color: #B9D253;
        margin: 3% 1%;
        font-size: 40px;
        
    }
    center.add{
        padding: 30px;
    }
     button.btn{
        font-size: 20px;
     }
    
}


    @import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

    body {font-family: 'Kanit', sans-serif;}
