div.editbox {
    margin-top: 13vw;
}

div.form-edit-group {
    width: 60%;
    margin-left: 20%;
}

input.editCateName , input[type='text'].editCateName {
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 4px 2px -2px none;
    border-color: #B9D253;
    margin-bottom:10px; 
    margin-top:5px;
    font-size: 2.5vmin;
    padding: 10px;
}

label.editCateName{
    font-size: 3vmin;
    padding-left: 5vw;
} 