@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');


input.inputName , input[type='text'].inputName {
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 4px 2px -2px none;
    border-color: #B9D253;
    margin-bottom:10px; 
    margin-top:5px;
    font-size: 1.2vw;
    padding: 10px;
}

.iconCate {
    width:10em;
    margin-top:10px;
    text-align: left;

}

button.close > span {
    font-size: 3vw;
}

input:focus {
    outline: none;
}

label.inputName {
    font-size: 1.5vw;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 0;
    width: 100%;
}

input.inputIcon {
    text-align: center;
    font-size: 1.2vw;
}

p.popUpTopic{
    font-size: 2vw;
    margin-bottom: 0;
    color:'Black';
    float: left;
}

div.modal-footer button.modalBtn {
    font-size: 1.4vw;
    color: initial;
}


@media (min-width: 768px) {
    .fade {
        height: 100%;
    }

    .modal-backdrop.show {
    height: 100%;
    overflow: visible;
    opacity: 0.7 !important;
    }

    .modal-content {
        margin-top: 15vw;
    }
}

div.fade.modal.show {
    overflow: visible;
}

Button.success {
    background-color: #B9D253;
}

Button.success:hover {
    background-color: rgb(142, 167, 42);
}
