form.LoginForm {
    /* background: rgb(89,88,106);
    background: linear-gradient(0deg, rgba(89,88,106,1) 0%, rgba(185,210,83,1) 62%); */

    margin: 2vmin;
    margin-top: 10vmax;
    position: relative;
}

#login-button {
    background-color: #B9D253; 
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    border: none;
    color:black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vmin;
}

#login-button:hover {
    box-shadow: 1px 1px 3px black;
}

#login-title {
    font-size: 5vmin;
    font-weight:bold;
    text-align: center;
    color: #737e3d;
    margin-top:20px;
}

#account-regis {
    font-size: 3vmin;
    text-align: center;
    margin-top: 20px;
}

#accoutn-regis a{
    color: black;
}

#link-regis {
    margin-left: 5px;
    color:#B9D253;
}

#account {
    color: gray;
}

#account-forgot {
    color: #B9D253;
    cursor: pointer;
}

#account-forgot:hover , .account-forgot:hover{
    text-decoration: underline;
}

input[type='text'].form-control , input[type='password'].form-control#pwd {
    margin: 6% 6% 0%;
    padding: 12px 20px;
}

#logo-black {
    margin-left: 20px;
    margin-right: 20px;
    
}

.errorMessage {
    font-size: 10px;
    color: red;
    margin-left: 25px;
}

div#login-form{
    width: 70%;
}

.error-message{
    width: 87%;
    background-color: #fbecec;
    margin-top: 1%;
    color: #d4554a;
    margin-left: 6%;
    font-size: 2vmin;
    border: 1px solid;
    border-color: #f5cfcb;
    border-radius: 0.3vw;
    padding: 0.5% 2% 0.5% ;
}
.alert-box{
    width: 87%;
    background-color: #d55846;
    margin-top: 5%;
    color: white;
    margin-left: 6%;
    font-size: 2vmin;
    border: 1px solid;
    border-color: #f5cfcb;
    border-radius: 0.3vw;
    padding: 1.5% 2% 1.5% ;
}

@media(max-width : 768px) /*for medium device*/ {
    div#login-form{
        width: 80%;
    }
}

@media(max-width : 426px) /*for small device*/ {
    div#login-form{
        width: 90%;
    }
    
    
}
