
.headRe{
  font-size: 25px;
  margin: 20% 30% 0%;
  

}
h4.h4head{
  margin: 2% 26% 0;
  font-size: 17px;
}


textarea{
  color:black;
  width: 80%;
  min-height: 20vh;
  margin: 6% 10% 0%;
  transition: box-shadow 100ms;
  border-radius: 3px;
  border: 0px;
  box-shadow: 0px 0px 1px 1px #9FB444;
  border-radius: 3px;
  font-size: 2.4vmin;
  border: 0px;  
  padding: 12px 20px;

}

.show_add_type, .show_add_tag{
    margin: 1% 8%;
    padding: 0% 1%;
    width: 80%;
}


.e-sub_tag{
  margin: 2% 1.5%;
  padding: 0% 1%;
  width: 80%;
  border:1px solid #9FB444;
  border-radius:30px;
}

input[type='text']#rvTag{
  padding: 5px 5px;
  margin: 2% 10% 3%;
  width: 45%;
  height: 27px;
}

input[type='submit']{

  margin: 5% 35% 20%;
}
@media(min-width: 768px) {


  .headRe{
    font-size: 5vmin;
    margin: 10% 39% 0%;
    padding: 3% 0% 0;
    
  
  }

  h4.h4head{
    margin: 2% 35% 0;
    font-size: 4vmin;
  }

  input[type='submit']{

    margin: 5% 35% 5%;
  }

  textarea{
    color:black;
    width: 80%;
    min-height: 40vh;
    margin: 3% 10% 0%;
    transition: box-shadow 100ms;
    border-radius: 3px;
    border: 0px;
    box-shadow: 0px 0px 1px 1px #9FB444;
    border-radius: 3px;
    font-size: 2.4vmin;
    border: 0px;  
    padding: 12px 20px;
  
  }

  .e-sub_tag{
    margin: 2% 1.5%;
    padding: 0% 1%;
    width: 80%;
    border:1px solid #9FB444;
    border-radius:30px;
  }

  input[type='text']#rvTag{
    padding: 5px 10px;
    margin: 2% 10% 0%;
    width: 60%
  }
}