form.RegisterForm {
    /* background: rgb(89,88,106);
    background: linear-gradient(0deg, rgba(89,88,106,1) 0%, rgba(185,210,83,1) 62%); */
    width:100%; 
    height: 100%;
    position: relative;
    margin-top: 100px;

}

#regis-button {
        background-color: #B9D253; 
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        border: none;
        color:black;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.3vw;
}

div#regis-title {
    font-size: 2.5vw;
    font-weight:bold;
    text-align: center;
    color: #737e3d;
    margin-top:20px;
}

.error-message {
    font-size: 10px;
    color: pink;
    margin-left: 25px;
}

input{
    padding: 12px 20px;
}

input[type='text'].form-control input[type='password'].form-control {
    margin: 6% 6% 0%;
}

div#regis-form{
    width: 70%;
}

.error-message{
    width: 87%;
    background-color: #fbecec;
    margin-top: 1%;
    color: #d4554a;
    margin-left: 6%;
    font-size: 1vw;
    border: 1px solid;
    border-color: #f5cfcb;
    border-radius: 0.3vw;
    padding: 0.5% 2% 0.5% ;
}
.alert-box{
    width: 87%;
    background-color: #d55846;
    margin-top: 5%;
    color: white;
    margin-left: 6%;
    font-size: 1vw;
    border: 1px solid;
    border-color: #f5cfcb;
    border-radius: 0.3vw;
    padding: 1.5% 2% 1.5% ;
}
