/*chage body to clase userHis*/
.userHis{
    font-size: 0.75em;
}

.show-review{
    width: 80%;
    height: 125px;
    color: #242424;
    margin: auto;
    border-style: solid;
    border-width: thin;
    border-color: #e6e6e6;
    padding-top: 15px;
}

.in-box{
    width: 85%;
    margin: auto;
}
.far, .fas{
    color: #B9D253;
}
#icon-b{
    color: black;
}
.novel-name{
    font-size: 1.5em;}

.date, .num-com{
    float: right;
}
.review-name, .type, .tag, .comment{
    padding-left: 1.5em;
}
.story{
    line-height:14pt;
    height:28pt;
    overflow:hidden;
    text-indent: 20px;
    color: gray;
}
#bold{
    font-weight: bold;
}


@media(min-width: 768px) {
    body {
        font-size: 1.00em;
    }
    .show-review{
        height: 200px;
        padding-top: 15px;
    }
}