/*chage body to clase userHis*/
div.userHis{
<<<<<<< HEAD
    font-size: 3vmin;
=======
    font-size: 0.75em;
>>>>>>> 439ced71b61426153f0e66035b04e58158ab3094
}

div.show-review{
    width: 80%;
    color: #242424;
    margin: auto;
    border-style: solid;
    border-width: thin;
    border-color: #e6e6e6;
<<<<<<< HEAD
    font-size: 3vmin;
    overflow: auto;
    line-height: 2em;
    padding-bottom: 1em;
}

div.in-box{
    
    margin: auto;
    white-space: nowrap;
}

=======
    font-size: 1.00em;
     overflow: auto;
    line-height: 2em;
}

div.in-box{
    width: 70%;
    margin: auto;
    white-space: nowrap;
   
    
}



>>>>>>> 439ced71b61426153f0e66035b04e58158ab3094
#icon-b{
    color: black;
    width: 20px;
}
<<<<<<< HEAD
/* 
a.comment {
    float: right;
} */
=======
>>>>>>> 439ced71b61426153f0e66035b04e58158ab3094

a.novel-name{
    font-size: 4vmin;
}

a.date, .num-com{
    float: right;
}
a.review-name, .type, .tag, .comment{
    padding-left: 1.5em;
}

div.story{
    line-height:14pt;
    height:10pt;
    overflow:hidden;
    text-indent: 20px;
    color: gray;
<<<<<<< HEAD
    font-size: 3vmin;
=======
    font-size: 1.00em;
>>>>>>> 439ced71b61426153f0e66035b04e58158ab3094
}
#bold{
    font-weight: bold;
}

@media(min-width: 375px) {
    div.show-review {
        width: 70%;
    }
}

@media(max-width: 425px) {
    a#bold.review-name, a#bold.type, a#bold.tag {
        margin: 10em 0 10em 0 ;
        line-height: initial;
    }

    div.in-box {
        width: 80%;
    }
}


@media(min-width: 768px) {
    
<<<<<<< HEAD
    div.in-box{
        /* height: 100%; */
        /* padding-top: 50px; */
        margin: 0;
        
    }

    div.userHis{
        font-size: 3vmin;
    }
    
    div.show-review{
        width: 70%;
        color: #242424;
        border-style: solid;
        border-width: thin;
        border-color: #e6e6e6;
        font-size: 3vmin;
        overflow: auto;
    }
    
    div.in-box{
        
        /* margin: auto; */
        white-space: nowrap;
    }
    a#bold.review-name, a#bold.type, a#bold.tag {
        margin: 10em 0 10em 0 ;
    }
    
    a.novel-name{
        font-size: 3vmin;
        margin: 1em 0 0 1em;
    }
    
    a.date, .num-com{
        float: right;
        margin-right: 1em;
    }
    a.review-name, .type, .tag, .comment, a.rating{
        padding-left: 1.5em;
        
=======
    div.show-review{
        height: 100%;
        padding-top: 50px;
    }

    div.userHis{
        font-size: 1.75em;
    }
    
    div.show-review{
        width: 60%;
        color: #242424;
        margin: 0% 20%;
        border-style: solid;
        border-width: thin;
        border-color: #e6e6e6;
        font-size: 1.00em;
         overflow: auto;
        line-height: 2em;
    }
    
    div.in-box{
        width: 70%;
        margin: auto;
        white-space: nowrap;
       
        
    }
    
    a.novel-name{
        font-size: 1.5em;}
    
    a.date, .num-com{
        float: right;
    }
    a.review-name, .type, .tag, .comment{
        padding-left: 1.5em;
>>>>>>> 439ced71b61426153f0e66035b04e58158ab3094
    }
    div.story{
        line-height:14pt;
        height:10pt;
        overflow:hidden;
        text-indent: 20px;
        color: gray;
<<<<<<< HEAD
        font-size: 1.8vmin;
=======
        font-size: 1.00em;
>>>>>>> 439ced71b61426153f0e66035b04e58158ab3094
    }
    
}