@media(max-width : 427px) {

    a.menuButton , a.menuButton + a#login , a.menuButton + a#username {
        text-decoration: none;
        color: inherit;
        margin: 1% 4%;
        font-size: 3vmin;
    }

    p.menu-name {
        margin: 0;
        font-size: 3vmin;
        color: black;
    }

    p.menu2 {
        margin-top: 0.5vmin;
    }
    
    .foot-main-navigation {
        width: 100%;
        background: #B9D253;
        text-align: center;
        bottom: 0;
        position: fixed;
        z-index: 1;
    }
    
    nav ul.foot {
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline-flex;
        width: 100%;
        justify-content: center;
    }
    
    nav.fooot li {
        display: inline-block;
        width: calc(100%/2 - 1px - 2*3px);
    
        /* width: calc(100vw / 4.6); */
        padding: 10px;
    }
    
    nav.fooot p {
        font-size: .9em;
    }
    
    nav.fooot li:hover {
        transform: scale(1.2);
        transition: 1s;
    }
    
    /* add this css for chang color of icon in menu from green to black*/
    i.menu{
        color: black;
        font-size: 5vmin;
    }
}

@media(min-width: 427px) {
    div.foot-main-navigation {
        display: none;
    }
}
