div.choosetypepopup{
    background-color: #B9D253;
    overflow: auto;
    white-space: nowrap;
    line-height: 1;
    width: 3px 3px;
    height: 1%;
    font-size: 2.5vmin;
    -ms-overflow-style: none;
}

div.choosetypepopup::-webkit-scrollbar {
    display: none;
}

div.choosetypepopup a {
    display: inline-block;
    color: black;
    text-align: center;
    margin: 10px 5% ;
    text-decoration: none;
    font-size: 4vmin;
}

div.choosetypepopup a:hover {
    background-color: #777;
}

/* i.fas.iconTypeBar {
    font-size: 20px;
} */




/* small device */
@media(min-width: 768px) {

    div.choosetypepopup{
        overflow: auto;
        white-space: nowrap;
        line-height: 1;
        width: 10px 10px;
        height: 1%;
        font-size: 2vmin;
    }
    
    div.choosetypepopup  a > i.fas.iconTypeBar > i.far.iconTypeBar {
        display: inline-block;
        color: black;
        text-align: center;
        margin: 10px 5% ;
        text-decoration: none;
    }
    
    div.choosetypepopup a:hover {
        background-color: #777;
    }
    
    i.fas.iconTypeBar , i.far.iconTypeBar {
        font-size: 4vw;
        color: black;
    }

}