div.choosetypepopup{
    background-color: #B9D253;
    overflow: auto;
    white-space: nowrap;
    line-height: 1;
    width: 3px 3px;
    height: 1%;
    font-size: 12px;

}

div.choosetypepopup a {
    display: inline-block;
    color: black;
    text-align: center;
    margin: 10px 5% ;
    text-decoration: none;
    font-size: 12px;
}

div.choosetypepopup a:hover {
    background-color: #777;
}

#icon{
    font-size: 20px;
}





@media(min-width: 768px) {

    div.choosetypepopup{
        overflow: auto;
        white-space: nowrap;
        line-height: 1;
        width: 10px 10px;
        height: 1%;
        font-size: 20px;
        
    
    }
    
    div.choosetypepopup a {
        display: inline-block;
       
        text-align: center;
        margin: 10px 5% ;
        text-decoration: none;
    }
    
    div.choosetypepopup a:hover {
        background-color: #777;
    }
    
    #icon{
        font-size: 50px;
    }
    
    #icon{
        font-size: 50px;
    }
    

}
@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

    body {
        font-family: 'Kanit', sans-serif;
        
    }
