div.reviewName {
  text-align: left;
  color: black;
  font-size: 6vmin;
  font-weight: bolder;
  display: inline;
  margin: 5% 0 0;
} 

div.heart-fav1 {
  float: right;
  font-size: 5vmin;
  color: #CD4F39;
  margin: 0 2%;
}

.fas.fa-heart.fav-heart:hover, .far.fa-heart.fav-heart:hover {
  cursor: pointer;
  color: tomato;

}

.fa-clock::before {
  margin-right: 1%;
  vertical-align: middle;
}

div.r-reviewBy p.reviewer {
  margin-left: 10px;
}

p.reviewer , p.novel-source {
  font-size: 3vmin;
  font-weight: normal;
  display: inline;
}

div.containerReview{
  margin-top: 10vmax;
  padding-left: 9%;
  padding-right: 9%;
  padding-bottom: 10%;
}

div.r-reviewBy {
  font-size: 3.5vmin;
  font-weight: bolder;
  margin: 0.2% 5%;
  display: inline;
}

div.rating-niyay , div.source {
  font-size: 2.5vmin;
  font-weight: bolder;
  margin: 0.2% 7%;
}

div.r-reviewBy2 {
  font-weight: bold;
  font-size: 3.5vmin;
  margin: 0.2% 5%;
}

div.reviewBy3{
  font-weight: bold;
  font-size: 4.5vmin;
  margin: 10px 20px;
}

div.reviewBy4{
  color: #9fb444;
  text-align: left;
  font-weight: bolder;
  font-size: 3.3vmin;
  margin: 7vmax 5% 1vmin;
  display: flex;
  justify-content: center;
}

div.reviewBy5 {
  margin-top: 3%;
  margin-bottom: 2%;
}

hr.r-new5 {
  border: 1.5px solid #9fb444;
  border-radius: 10vmin;
  color: black;
  width: 100%;
  margin: 1% 0 3%;
}

hr.r-new4 {
  border-top: 0.3vmin solid #9FB444;
  color: black;
  width: 90%;
  margin: 3% auto 1%;
  text-align: center;
}

div.r-view{
  font-size: 3vmin;
  margin: 0.2% 7% ;
  color: black;
}


p.date , p.r-view {
  padding-left: 1vmin;
  display: inline;
}

div.date , p.date {
  margin-right: 2%;
}

span.subtype > a , span.subtag > a {
  color: gray;
}

.boxContent{
  border:1.5px solid #9FB444;
  border-radius: 2vmin;
  width: 80%;
  height: 40%;
  margin:1% auto 5%;
  padding: 1% 2% 2%;
  font-size: 3vmin;
  min-height: max-content;
}  

.givereview{
  font-size: 3vmin;
  margin: 0% 34.5%;
    color: black;
}

hr.line{

  width:70%;
  text-align:center;
  color : #9FB444;
}

#score{
    font-size: 15px;
    margin: 50px;
}

@media (min-width: 768px){

  
  .col-sm22{
    background-color: #F8F8F8;
    padding: 3% 0% 0;
    border-radius: 10px;
    
}

  
  div.reviewName {
    
    color: black;
    font-size: 6vmin;
    font-weight: bolder;
    display: inline;
    margin: 10% 3% 0;
  } 
  
  div.heart-fav1 {
    float: right;
    font-size: 5vmin;
    color: #CD4F39;
  }
  
  .fas.fa-heart.fav-heart:hover, .far.fa-heart.fav-heart:hover {
    cursor: pointer;
    color: tomato;
  }
  
  .fa-clock::before {
    margin-right: 1%;
    vertical-align: middle;
  }
  
  div.r-reviewBy p.reviewer {
    margin-left: 10px;
  }
  
  p.reviewer , p.novel-source {
    font-size: 4vmin;
    font-weight: normal;
    display: inline;
  }
  
  div.containerReview{
    margin-top: 10vmax;
    padding-left: 9%;
    padding-right: 9%;
    padding-bottom: 10%;
  }
  
  div.r-reviewBy {
    font-size: 4vmin;
    font-weight: bolder;
    margin: 0.2% 5%;
    display: inline;
  }
  
  div.rating-niyay , div.source {
    font-size: 3vmin;
    font-weight: bolder;
    margin: 0.2% 7%;
  }
  
  div.r-reviewBy2 {
    font-weight: bold;
    font-size: 4vmin;
    margin: 0.2% 5%;
  }
  
  div.reviewBy3{
    font-weight: bold;
    font-size: 4vmin;
    margin: 10px 20px;
  }
  
  div.reviewBy4{
    color: #9fb444;
    text-align: left;
    font-weight: bolder;
    font-size: 4vmin;
    margin: 7vmax 5% 1vmin;
    display: flex;
    justify-content: center;
  }
  
  div.reviewBy5 {
    margin-top: 3%;
    margin-bottom: 2%;
  }
  
  hr.r-new5 {
    border: 1.5px solid #9fb444;
    border-radius: 10vmin;
    color: black;
    width: 95%;
    margin: 1% 2% 3%;
  }
  
  hr.new4 {
    border-top: 0.3vmin solid #9FB444;
    color: black;
    width: 90%;
    margin: 3% auto 1%;
    text-align: center;
  }
  
  div.view{
    font-size: 3vmin;
    margin: 0.2% 7% ;
    color: black;
  }
  
  
  p.date , p.view {
    padding-left: 1vmin;
    display: inline;
  }
  
  div.date , p.date {
    margin-right: 2%;
  }
  
  span.subtype > a , span.subtag > a {
    color: gray;
  }
  
  .boxContent{
    border:1.5px solid #9FB444;
    border-radius: 2vmin;
    width: 90%;
    height: 100%;
    margin:1% 5% 5%;
    padding: 1% 2% 2%;
    font-size: 3vmin;
    min-height: max-content;
    
  }  
  
  .givereview{
    font-size: 3vmin;
    margin: 0% 34.5%;
      color: black;
  }
  
  hr.line{
  
    width:70%;
    text-align:center;
    color : #9FB444;
  }
  
  #score{
      font-size: 15px;
      margin: 50px;
  }
}