
div.navHeader {
	padding: 5px 0;
	background-color:/* #000*/ white;
	line-height:3;
	
}

img.photo{
	width:auto; 
	height:32;
	margin-left: 1em;
}
    

div#search {
	color: #9FB444;
	float: right;
	margin-right: 1em ;
}

@media(min-width: 768px) {

	div.navHeader {
		padding: 10px 0;
		background-color:/* #000*/ white;
		line-height:3;
	}
	
	img.photo {

		width:auto; 
		height:40px;
		margin: 0px 20px;
	}

	div#search {
		color: #9FB444;
		float: right;
		margin-right: 2em ;
	}
	
	

}