form.LoginForm {
    background: rgb(89,88,106);
    background: linear-gradient(0deg, rgba(89,88,106,1) 0%, rgba(185,210,83,1) 62%);
}

#login-button {
        background-color: #B9D253; 
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        border: none;
        color:black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}

.login {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/*add errorMessage css*/
span .errorMessage {
    color:red;
    font-size: 10px;
}

#login-title {
    font-size: 20px;
    margin-left: 10%;
} 

input{
    padding: 12px 20px;
}


