@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

div.adminTable {
    margin: 0em 5em 5em 5em;
    width: 90%;
    text-align: center;
    align-content: center;
}

Table.adminTable {
    border-collapse: collapse;
    border-bottom: 1px solid #ddd;
}

.adminTable tr th {
    line-height: initial;
}

div.adminTable th {
    color: #B9D253;
}

div.table th {
    color: #B9D253;
}

div.topicPage {
    text-align: center;
    vertical-align: middle;
    margin-top: 20em;
}

div.topicPage > p.topicName { 
    font-size: 2.5vw;
    color: #B9D253;
}


.del {
    text-decoration : underline;
    cursor : pointer;
    color : Red;
}

p.message {
    margin-top: 2.5em;
    font-size: 2vw;
}