/*chage body to clase userHis*/
div.userHis{
    font-size: 0.75em;
}

div.show-review{
    width: 100%;
    color: #242424;
    margin: auto;
    border-style: solid;
    border-width: thin;
    border-color: #e6e6e6;
    font-size: 1.00em;
    overflow: auto;
    line-height: 2em;
}

div.in-box{
    width: 80%;
    margin: auto;
    white-space: nowrap; 
}

#icon-b{
    color: black;
    width: 20px;
}

div.novel-name{
    font-size: 4vmin;
}

div.date, .num-com{
    float: right;
}

/* div.novel-name + div.date {
    display: inline;
} */

a.review-name, .type, .tag, .comment{
    padding-left: 1.5em;
}

div.story{
    line-height:14pt;
    height:10pt;
    overflow:auto;
    text-indent: 20px;
    color: gray;
    font-size: 1.00em;
}
.bold{
    font-weight: bold;
}

span.subtype , span.subtag {
    font-weight: normal;
    margin: 1%;
}

@media(max-width: 425px) {

    div.in-box {
        width: 80%;
    }
}

/* ---------------------------------------------------------------------------------------------------------- */
@media(min-width: 768px) {
    
    div.userHis{
        font-size: 1.75em;
    }
    
    div.show-review{
        height: 100%;
        padding-top: 4vmin;
        padding-bottom: 2vmin;
        width: 90%;
        color: #242424;
        border-style: solid;
        border-width: thin;
        border-color: rgb(119, 134, 53);
        font-size: 1.00em;
        overflow: auto;
        line-height: normal;
        margin-bottom: 2vw;
    }
    
    div.in-box{
        width: 90%;
        margin: auto;
        white-space: nowrap;
    }
    
    div.novel-name{
        font-size: 4vmin;
        display: inline;
        color: #9FB444;
    }

    div.novel-name:hover{
        text-decoration: none;
        transform: scale(1.2);
    }

    div.date {
        font-size: 2.5vmin;
        float: right;
    }

    span.subtag , span.subtype {
        font-size: 2.5vmin;
        color: gray;
        margin: 0 1vw;
    }

    a.review-name, .type, .tag, .comment, .rating{
        padding-left: 1.5em;
    }
    
    .type, .tag, .comment, .rating, .edit {
        font-size: 3vmin;
    }

    .edit , span.delete-review {
        font-weight: bolder;
        text-decoration: none;
        padding: 0 1vw;
    }

    .edit:hover a , span.delete-review:hover {
        text-decoration: none;
    }

    div.story{
        margin: 1vw 0;
        line-height:1.7;
        height:auto;
        overflow:auto;
        color: gray;
        font-size: 2.2vmin;
        white-space: pre-wrap;
        padding-left: 1.8em;
    }

    .num-com {
        display: inline-flex;
    }
    
}

